@import "../../css/common.styles.css";

.codingContainer {
    padding: 10px;
    white-space: pre-wrap;
}

.codingContentContainer {
    display: flex;
    width: 80%;
    padding: 10px 20px;
    background: var(--main-1);
    border: 1px solid lightgray;
    border-radius: 15px;
}
.codingContentContainer div {
    width: 50%;
}