* {
    box-sizing: border-box;
}
body {
    padding-top: 120px;
    background: #68ace5;
}
body > div {
    width: 100%;
}
a {
    color: var(--hyperlink-blue);
    text-decoration: none;
}
a:hover, button:hover, div[role=button] {
    cursor: pointer;
}
input,
textarea,
button {
    background: transparent;
    border: none;
    border-radius: 0;
    outline: none;
    resize: none;
}
input:focus, 
textarea:focus,
button:focus {
    outline: none;
}